.password-strength {

    &__password {
        width: 250px;
        height: 40px;
        border-radius: 5px;
        padding: 0 15px;
        border: 1px solid #ccc;
    }

    &__items {
        display: flex;
        margin-top: 10px;
    }

    .color {
        width: 85px;
        height: 5px;
        margin: 5px;
    }
}
